*

!.vimrc
!.gvimrc
!.vim
!.vim/colors
!.vim/colors/2*
!.vim/ftplugin
!.vim/ftplugin/*
!.vim/plugins
!.vim/plugins/*
!.vim/syntax
!.vim/syntax/*
!.Xdefaults
!.xinitrc
!.xmodmap
!.zprofile
!.zshrc
!.xmonad
!.xmonad/xmonad.hs
!.cmus
!.cmus/rc
!.logout
!.gitignore

